@import url('../../components/fonts/rogue-script.css');
.home{
 background-image: url('../../assets/main.png');   
 background-size: cover;
 background-position: center;
 height: 100vh;
 width: 100vw;
 color: white;
 text-shadow:2px 2px #FDA957;
 display: grid;
    .home__text{
        display: flex;
        flex-direction: column;
        align-content:center;
        grid-column: 3;
        max-width: 400px;
        
    }
    h1{
        margin: 10% 0;
        font-family: "Rogue Script", cursive;
        font-size: 96px;
        max-width: 400px;
        
    }
    p{
        max-width: 500px;
    }
    button{
        background-color: white;
        margin: 0 auto;
        
        color: black;
        width: 150px;
        border-radius: 50px;
        
    }
    a{
        text-decoration: none;
    }
}