.weather-container {
    padding: 20px;
    h1, h3, svg{
        text-align: left;
    }
    svg {
        width: inherit;
        height: inherit;
    }
    text { 
        fill: white;
    }
    .svg-inline--fa.fa-w-16 {
        width: 10em;
        color: orange;
        text: hello; 
    }
    
    .weather {
        display: flex; 
        flex-direction: row; 
    
        .weather-data {
            display: flex; 
            flex-direction: column;
            justify-content: center;
            div {
                margin: 10px 30px;
            }
    
            .container1 {
                border-radius: 10px;;
                background-color: lightsalmon; 
            }
            .container2 {
                border-radius: 10px;;
                background-color: lightseagreen;
            }
            .container3 {
                border-radius: 10px;;
                background-color: lightgreen;
            }
        }
    }
}

